body {
	margin: 0;
	padding: 7px;
	background-color: #e0dfd2;

	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}

canvas {
	border: solid 1px #504e4f;
}
